{% extends 'base.html' %}
{% load static %}
{% block title %}
Thu Vien 3 Goc
{% endblock %}
{%block header%}
{% include page %}
{% endblock header%}

{% block main-content%}
<section class="text-primary p-3">
    <div class="container--fluid">

        <div class="row align-items-center">
            <h3 class="text-center">Change Password</h3>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 p-3 ">
                <form method="post" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <div class="row align-items-center h5">
                                <td class="col-lg-4 p-3"><label>Password:</label></td>
                                <td class="col-lg-8 p-3"><input type="password" value="" name="password" required></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center h5">
                                <td class="col-lg-4 p-3"><label>Confirm Password:</label></td>
                                <td class="col-lg-8 p-3"><input type="password" value="" name="confirm_password" required></td>
                            </div>
                        </tr>

                    </table>
                    <div class="row align-items-center">
                        <div class="col-lg-3 p-3 text-center">
                            <input class="btn btn-outline-warning" type="submit" value="Change">
                        </div>
                        <div class="col-lg-3 p-3 text-center">
                            <a class="btn btn-outline-warning" href="{% url 'informations-user'%}">Cancel</a> 
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>
{% endblock main-content%}