{% extends 'base.html' %}
{% load static %}
{% block title %}
Thu Vien 3 Goc
{% endblock %}
{%block header%}
{% include page %}
{% endblock header%}

{% block main-content%}
<div class="container m-3 text-success">
    <div class="row">
        <div class="col-2"><h4>Username: </h4></div>
        <h5 class="col-4">{{request.session.account.username}}</h5>
    </div>

    <div class="row">
        <div class="col-2"><h4>Firstname: </h4></div>
        <h5 class="col-4">{{request.session.name_user.fname}}</h5>
    </div>

    <div class="row">
        <div class="col-2"><h4>Lastname: </h4></div>
        <h5 class="col-4">{{request.session.name_user.lname}}</h5>
    </div>
    <div class="row">
        <div class="col-2"><h4>Admin: </h4></div>
        <h5 class="col-4">{{request.session.account.is_staff}}</h5>
    </div>
    <div class="row">
        <div class="col-2">
            <h5>
                <a class="btn btn-outline-warning" href="{% url 'update-user' %}">
                    <b>Update</b>
                </a>
            </h5>
        </div>
        <div class="col-4">
            <h5>
                <a class="btn btn-outline-warning" href="{% url 'change-password' %}">
                    <b>Change Password</b>
                </a>
            </h5>
        </div>
    </div>
</div>
{% endblock main-content%}