{% extends 'base.html' %}
{% load static %}

{% block main-content%}
<section class="text-primary p-3">
    <div class="container--fluid">
        <div class="row align-items-center">
            <h3 class="text-center"><a href="{% url 'home'%}">Home</a></h3>
        </div>

        <div class="row align-items-center">
            <h3 class="text-center">Log in</h3>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 p-3 ">
                <form method="post" action="{% url 'login-user' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <div class="row align-items-center h5">
                                <td class="col-lg-4 p-3"><label>User name:</label></td>
                                <td class="col-lg-8 p-3"><input type="text" value="{{ request.COOKIES.username }}" name="username"></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center h5">
                                <td class="col-lg-4 p-3"><label>Password:</label></td>
                                <td class="col-lg-8 p-3"><input type="password" value="{{ request.COOKIES.password }}" name="password"></td>
                            </div>
                        </tr>

                    </table>
                    <div class="row align-items-center">
                        <div class="col-lg-3 p-3 text-center">
                            <input class="btn btn-outline-success" type="submit" value="Login">
                        </div>
                        <div class="col-lg-3 p-3 text-center">
                            <a class="btn btn-outline-success" href="{% url 'register'%}">Register</a> 
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-6 p-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid" alt="Sample image">
            </div>
        </div>

    </div>
</section>
{% endblock main-content%}