{% extends 'base.html' %}

{% block title %}
{{page_title}}
{% endblock %}

{% block header%}
  {% include 'page/header.html' %}
{% endblock header %}

<!--main conten-->
{% block main-content%}
<h3>Categories Book:</h3>
<ul text-info>
  {% for category in categories_book %}
    <li><a href="{% url 'category_book' id=category.id %}">{{ category.name }}</a></li>
  {% endfor %}
</ul>
<hr>
<h3>Categories Mobile:</h3>
<ul text-info>
  {% for category in categories_mobile %}
    <li><a href="{% url 'category_mobile' id=category.id %}">{{ category.name }}</a></li>
  {% endfor %}
</ul>
<hr>
<h3>Categories Clothes:</h3>
<ul text-info>
  {% for category in categories_clothes %}
    <li><a href="{% url 'category_clothes' id=category.id %}">{{ category.name }}</a></li>
  {% endfor %}
</ul>

{% endblock main-content %}