{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{page_title}}
{% endblock %}

{% block header%}
  {% include 'page/header.html' %}
{% endblock header %}

{% block main-content%}
<div class="container">
    <div class="row justify-content-center my-3">
        <h5>Name: <strong>{{information_order.name}}</strong></h5>
    </div>
    <div class="row justify-content-center my-3">
        <h5>Phone: <strong>{{information_order.phone}}</strong></h5>
    </div>
    <div class="row justify-content-center my-3">
        <h5>Address: <strong>{{information_order.address}}</strong></h5>
    </div>
    <div class="row justify-content-center my-3">
        <h5>Email: <strong>{{information_order.email}}</strong></h5>
    </div>
    <div class="row align-items-center justify-content-center my-3">
        <h3 class="text-info text-center" >Products Ordered</h3>
    </div>

    {% if result %}
    <div class="row justify-content-center my-3">
        <h5 class="col-lg-6">Items: <strong>{{quantity_item}}</strong></h5>
        <h5 class="col-lg-6">Total: <strong>{{information_order.total|intcomma}} VND</strong></h5>
    </div>
    <hr>
    <div class="row justify-content-center my-3">
        <h5 class="col-3"></h5>
        <h5 class="col-2">Item</h5>
        <h5 class="col-2">Price</h5>
        <h5 class="col-2">Quantity</h5>
        <h5 class="col-2">Total</h5>
    </div>

    {% for r in result %}
    <div class="row ">
        <div class="col-3">
            <img class="thumbnail mx-auto d-block" src="{{r.product.image}}" width="50%" height="75%">
        </div>
        <h5 class="col-2">{{r.product.name}}</h5>
        <h5 class="col-2">{{r.product.price|intcomma}} VND</h5>
        <div class="col-2">
            <div class="row">
                <h5 class="col-lg-8">{{r.item.quantity}}</h5>
            </div>

        </div>

        <h5 class="col-2">{{r.item.price|intcomma}} VND</h5>
    </div>
    {%endfor%}
    {%endif%}

</div>

{% endblock main-content%}