{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{page_title}}
{% endblock %}

{% block header%}
{% include 'page/header.html' %}
{% endblock header %}

{% block main-content%}
<div class="col-lg-auto">
    <a class="btn btn-outline-primary" href="{% url 'home' %}"><b>Continue Shopping</b></a>
</div>
<h4 class="row justify-content-center text-success" >Order Success</h4>
<p class="text-dank h4">Chúng tôi sẽ gửi thông tin đơn hàng đến email: </p>
<p class="text-info h4">{{email}}</p>
{% endblock main-content%}